<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css"></link>
</head>

<body>
    <header class="main-class-header">
    <nav class="main-class-nav">
        <div class="main-class-itemlist">
        <div class="main-class-item"><a href ="/">Shop</a></div>
        <div class="main-class-item"><a href ="/admin/add-product">Add Product</a></div>
        <div class="main-class-item"><a href ="/contactus" title="contactus">Contact Us</a></div>
        </div>
    </nav></header>
    <main class="main-class-main">
        <h1>Page Not Found. Something went wrong</h1>
    </main>
</body>
</html>
