<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/css/main.css"></link>
</head>
<body>
    <header class="main-class-header">
        <nav class="main-class-nav">
            <div class="main-class-itemlist">
            <div class="main-class-item"><a href ="/">Shop</a></div>
            <div class="main-class-item"><a href ="/admin/add-product">Add Product</a></div>
            <div class="main-class-item"><a href ="/contactus" title="contactus">Contact Us</a></div>
            </div>
        </nav></header>
        <main>
            <h1>Product</h1>
            <form action="/" method="POST"><input type="text" name="product" id="product" placeholder="enter product">
            <button type="submit">Save Product</button>
            </form>
        </main>
</body>
</html>