<%- include('includes/head.ejs') %>
<h1>Product</h1>
<!--<p>`<%= name %>`</p>-->
<form action="/" method="POST"><input type="text" name="product" id="product" placeholder="enter product">
<button type="submit">Save Product</button>
</form>
</main>
</body>
</html>