<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/css/main.css"></link>
</head>
<body>
    <header class="main-class-header">
        <nav class="main-class-nav">
            <div class="main-class-itemlist">
            <div class="main-class-item"><a href ="/">Shop</a></div>
            <div class="main-class-item"><a href ="/admin/add-product">Add Product</a></div>
            <div class="main-class-item"><a href ="/contactus">Contact Us</a></div>
            </div>
        </nav></header>
        <main>
            <center><h1>Book a call</h1>
                <div class="main">
            <form action="/success" method="POST">
                <label for="name">Enter Name:</label><br>
                <input type="text" id="name" name="name" placeholder="enter name"><br>
                <label for="email">Enter Email:</label><br>
                <input type="email" id="email" name="email" placeholder="your email"><br><br>
            <button type="submit">Submit</button>
            </form>
        </div>
        </center>
        </main>
</body>
</html>